<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs",{title}) %>
    </head>
    <body>
        <% if(content!==""){ %> <%- include(content,{data}) %> <% } %> <% if(locals.profiler !== undefined){ %><%-
        include("../system/core/profiler.ejs") %><% } %>
    </body>
</html>
