<div class="game-container"></div>
<div class="player-info">
    <div>
        <form>
            <label for="player-name">Your Name</label>
            <input id="player-name" maxlength="20" type="text" />
            <input type="submit" />
        </form>
    </div>
    <div>
        <button id="player-color">Change Sprite</button>
    </div>
    <div>
        <p>Controls: WASD or Arrow Keys.</p>
        <p>Race to 10 coins. Good luck!</p>
    </div>
</div>
<div class="chat">
    <div>
        <form>
            <label for="player-chat">Status</label>
            <input id="player-chat" type="text" />
            <input type="submit" />
        </form>
    </div>
</div>
<div class="leaderboard">
    <p>LEADERBOARD</p>
    <ol class="leaderboard-list"></ol>
</div>
